.promo__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 60px;
  grid-template-areas:
    "promo-1 promo-2 promo-4 promo-4 promo-5 promo-5"
    "promo-3 promo-3 promo-4 promo-4 promo-6 promo-6 "
    "promo-7 promo-7 promo-7 promo-7 promo-8 promo-9 "
    "promo-7 promo-7 promo-7 promo-7 promo-8 promo-10 ";
}

.promo__item-0 {
  margin-bottom: 60px;
}

.promo__item-01 {
  grid-area: promo-1;
}

.promo__item-02 {
  grid-area: promo-2;
}

.promo__item-03 {
  grid-area: promo-3;
}

.promo__item-04 {
  grid-area: promo-4;
}

.promo__item-05 {
  grid-area: promo-5;
}

.promo__item-06 {
  grid-area: promo-6;
}

.promo__item-07 {
  grid-area: promo-7;
}

.promo__item-08 {
  grid-area: promo-8;
}

.promo__item-09 {
  grid-area: promo-9;
}

.promo__item-10 {
  grid-area: promo-10;
}

@media (max-width: 1024px) {
  .promo__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas:
    "promo-1 promo-2 promo-4 promo-4"
    "promo-3 promo-3 promo-4 promo-4"
    "promo-5 promo-5 promo-8 promo-9"
    "promo-6 promo-6 promo-8 promo-10"
    "promo-7 promo-7 promo-7 promo-7"
    "promo-7 promo-7 promo-7 promo-7";
  }
}

@media (max-width: 768px) {
  .promo__list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-areas:
    "promo-01 promo-01 promo-02 promo-02 promo-04 promo-04 promo-04 promo-04 promo-04"
    "promo-01 promo-01 promo-02 promo-02 promo-04 promo-04 promo-04 promo-04 promo-04"
    "promo-03 promo-03 promo-03 promo-03 promo-04 promo-04 promo-04 promo-04 promo-04"
    "promo-03 promo-03 promo-03 promo-03 promo-04 promo-04 promo-04 promo-04 promo-04"
    "promo-05 promo-05 promo-05 promo-05 promo-04 promo-04 promo-04 promo-04 promo-04"
    "promo-05 promo-05 promo-05 promo-05 promo-08 promo-08 promo-08 promo-09 promo-09"
    "promo-06 promo-06 promo-06 promo-06 promo-08 promo-08 promo-08 promo-09 promo-09"
    "promo-06 promo-06 promo-06 promo-06 promo-08 promo-08 promo-08 promo-10 promo-10"
    "promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07"
    "promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07"
    "promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07"
    "promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07"
    "promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07 promo-07";
  }

  .promo__item-0 {
    margin-bottom: 60px;
  }
  
  .promo__item-01 {
    grid-area: promo-01;
  }
  
  .promo__item-02 {
    grid-area: promo-02;
  }
  
  .promo__item-03 {
    grid-area: promo-03;
  }
  
  .promo__item-04 {
    grid-area: promo-04;
  }
  
  .promo__item-05 {
    grid-area: promo-05;
  }
  
  .promo__item-06 {
    grid-area: promo-06;
  }
  
  .promo__item-07 {
    grid-area: promo-07;
  }
  
  .promo__item-08 {
    grid-area: promo-08;
  }
  
  .promo__item-09 {
    grid-area: promo-09;
  }
  
  .promo__item-10 {
    grid-area: promo-10;
  }
}

@media (max-width: 320px) {
  .promo__list {
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    grid-template-areas:
    "promo-01 promo-02"
    "promo-03 promo-03"
    "promo-04 promo-04"
    "promo-04 promo-04"
    "promo-06 promo-06"
    "promo-08 promo-09"
    "promo-08 promo-10"
    "promo-07 promo-07"
  }

  .promo__item-01 {
    grid-area: promo-01;
  }
  
  .promo__item-02 {
    grid-area: promo-02;
  }
  
  .promo__item-03 {
    grid-area: promo-03;
  }
  
  .promo__item-04 {
    grid-area: promo-04;
  }
  
  .promo__item-05 {
    grid-area: promo-05;
  }
  
  .promo__item-06 {
    grid-area: promo-06;
  }
  
  .promo__item-07 {
    grid-area: promo-07;
  }
  
  .promo__item-08 {
    grid-area: promo-08;
  }
  
  .promo__item-09 {
    grid-area: promo-09;
  }
  
  .promo__item-10 {
    grid-area: promo-10;
  }
}