@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(/fonts/lato-regular.woff2) format("woff2"), url(/fonts/lato-regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(/fonts/lato-bold.woff2) format("woff2"), url(/fonts/lato-bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  padding: 30px;
}

h1 {
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  color: #2d2d2d;  
}

h2 {
  font-size: 22px;
}

p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #2d2d2d;  
}

ol, li {
  list-style-type: decimal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #525252;
}

img {
  height: 560px;
}

.section {
  width: 1095px;
}